<div class="container mt-5 mb-5">
    
    <div class="row justify-content-md-center">
        <div class="col-md-6 mx-auto">
            <div class="card-header bg-warning" style="border: 1px solid black;">
                <h3 class="text-center fs-2" style="color: #f0f2f7"><strong>Iniciar Sesión</strong> </h3>
                <img src="../../../assets/logosb1.png" class=""  style="max-width:35%; height:auto; display:block; margin: auto;">
                <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="m-3">
                    <!--directivas de angular para la validación de formularios mat-form-fiel-->
                    <div class="form-floating mb-3">
                        <!--formControlName captura las variables del form al TS tambien se declaran en  TS-->
                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"
                            formControlName="email" [class]="isValidField('email')">
                        <label for="floatingInput">Email address</label>
                        <div class="invalid-feedback">
                            <span *ngIf="loginForm.get('email')?.errors?.required">
                                Debes ingresar un email.
                            </span>
                            <span *ngIf="loginForm.get('email')?.errors?.pattern">
                                Debes ingresar un email valido.
                            </span>
                        </div>
                    </div>
                    <div class="form-floating">
                        <!--formControlName captura las variables del form al TS tambien se declaran en  TS-->
                        <input type="password" class="form-control" id="floatingPassword" placeholder="Password"
                            formControlName="password" [class]="isValidField('password')">
                        <label for="floatingPassword">Password</label>
                        <div class="invalid-feedback">
                            <span *ngIf="!loginForm.get('password')?.errors?.minLength">
                                Debes ingresar una contraseña de 6 caracteres como minimo.
                            </span>
                        </div>
                    </div>

                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-outline-light mt-2">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Login</font>
                            </font>
                        </button>
                    </div>
                    <div class="d-grid gap-2">
                        <button class="btn btn-outline-danger mt-2 " (click)="onLoginGoogle()">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Login Google</font>
                            </font>
                        </button>
                    </div>
                </form>

                <p class="text-info text-center ">
                    <a [routerLink]="['/register']">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit; color: #f0f2f7">Register
                            </font>
                        </font>
                    </a>
                    <br>
                    <a [routerLink]="['/register']">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit; color: #f0f2f7">Recover password
                            </font>
                        </font>
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>