<div class="row justify-content-md-center">
    <div class="col-md-6 mx-auto mt-5">
        <div class="card-header">
            <h3 class="text-center">Iniciar Sesión</h3>
            <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="m-3">
                <div class="form-floating mb-3">
                     <!--formControlName captura las variables del form al TS tambien se declaran en  TS-->
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" formControlName="email">
                    <label for="floatingInput">Email address</label>
                </div>
                <div class="form-floating">
                     <!--formControlName captura las variables del form al TS tambien se declaran en  TS-->
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password" formControlName="password">
                    <label for="floatingPassword">Password</label>
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-outline-info mt-2">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Login</font>
                        </font>
                    </button>
                </div>
            </form>
            <p class="text-info text-center">
                <a [routerLink]="['/register']">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Register
                        </font>
                    </font>
                </a>
                <a [routerLink]="['/register']">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Recover password
                        </font>
                    </font>
                </a>
            </p>
        </div>
    </div>
</div>