<form class="m-3" (ngSubmit)="saveAdrresForm()" [formGroup]="adrresForm">

    <div class="form-group">
        <label for="region" class="form-label mt-2">Región</label>
        <select class="form-select" id="region" formControlName="region" (ngModelChange)="onSelect($event)"
            [class]="isValidField('region')">
            <option *ngFor="let item of regiones" [value]="item.id">
                {{item.name}}
            </option>
        </select>
        <div class="invalid-feedback">
            <span *ngIf="adrresForm.get('region')?.errors?.required">
                Recuerda seleccionar una región.
            </span>
        </div>
    </div>
    <div class="form-group" *ngIf="comunas?.length ">
        <label for="comuna" class="form-label mt-2">Cumuna</label>
        <select class="form-select" id="comuna" formControlName="comuna" [class]="isValidField('comuna')">
            <option *ngFor="let item of comunas" [value]="item.id">
                {{item.name}}
            </option>
        </select>
        <div class="invalid-feedback">
            <span *ngIf="adrresForm.get('comuna')?.errors?.required">
                Recuerda seleccionar una comuna.
            </span>
        </div>
    </div>

    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="calle" formControlName="calle" [class]="isValidField('calle')"
            placeholder="Dos Sur">
        <label for="calle">Calle</label>
        <div class="invalid-feedback">
            <span *ngIf="adrresForm.get('calle')?.errors?.required">
                Recuerda ingresar una calle valida.
            </span>
        </div>
    </div>

    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="num" formControlName="num" [class]="isValidField('num')"
            placeholder="5012">
        <label for="num">Numero</label>
        <div class="invalid-feedback">
            <span *ngIf="adrresForm.get('num')?.errors?.required">
                Recuerda ingresar un numero de calle valido.
            </span>
        </div>
    </div>

    
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="dpa" formControlName="dpa" [class]="isValidField('dpa')"
            placeholder="5012">
        <label for="dpa">Departamento (opcional)</label>
        <div class="invalid-feedback">
            <span *ngIf="adrresForm.get('dpa')?.errors?.required">
                Recuerda ingresar un numero de calle valido.
            </span>
        </div>
    </div>
    <div class="d-grid gap-2">
        <button class="btn btn-outline-warning mt-2"  type="submit">Guardar
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
              </svg>
        </button>
    </div>
</form>