<div class="container mt-3 mb-3">
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
          aria-expanded="false" aria-controls="collapseOne">
          Datos personales
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
        data-bs-parent="#accordionExample" style="">
        <div class="card-header">
          <h3 class="text-center">Register</h3>
          <form [formGroup]="updateForm" (ngSubmit)="onUpdate()" class="m-3">
            <div class="form-floating mb-3">
              <!--formControlName captura las variables del form al TS tambien se declaran en  TS-->
              <input type="text" class="form-control" id="floatingName" placeholder="John Wick" formControlName="name"
                [class]="isValidField('name')">
              <label for="floatingName">Name</label>
              <div class="invalid-feedback">
                <span *ngIf="updateForm.get('name')?.errors?.required">
                  Ingresa tu nombre por favor
                </span>
              </div>
            </div>
            <div class="form-floating mb-3">
              <!--formControlName captura las variables del form al TS tambien se declaran en  TS-->
              <input type="email" class="form-control" id="floatingEmail" placeholder="name@example.com"
                formControlName="email" [class]="isValidField('email')">
              <label for="floatingEmail">Email address</label>
              <div class="invalid-feedback">
                <span *ngIf="updateForm.get('email')?.errors?.required">
                  Debes ingresar un email.
                </span>
                <span *ngIf="updateForm.get('email')?.errors?.pattern">
                  Debes ingresar un email valido.
                </span>
              </div>
            </div>

            <div class="form-floating mb-3">
              <!--formControlName captura las variables del form al TS tambien se declaran en  TS-->
              <input type="tel" class="form-control" id="floatingTel" placeholder="12345678" formControlName="cel"
                [class]="isValidField('cel')">
              <label for="floatingTel">Teléfono Celular</label>
              <div class="invalid-feedback">

                <span *ngIf="!updateForm.get('cel')?.errors?.minLength">
                  Debes ingresar un celular de 9 numeros.
                </span>

              </div>
            </div>

            <div class="form-floating">
              <!--formControlName captura las variables del form al TS tambien se declaran en  TS-->
              <input type="password" class="form-control" id="floatingPassword" placeholder="Password"
                formControlName="password" [class]="isValidField('password')">
              <label for="floatingPassword">Password</label>
              <div class="invalid-feedback">
                <span *ngIf="!updateForm.get('password')?.errors?.minLength">
                  Debes ingresar una contraseña de 6 caracteres como minimo.
                </span>

              </div>
            </div>

            <div class="form-check m-2">
              <input class="form-check-input" type="checkbox" id="flexCheckChecked" checked=""
                formControlName="politicas" [class]="isValidField('politicas')">
              <label class="form-check-label" for="flexCheckChecked">
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">
                    Acepto las políticas de privacidad
                  </font>
                </font>
              </label>


            </div>

            <div class="d-grid gap-2">
              <button type="submit" class="btn btn-outline-primary mt-2">
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">Register</font>
                </font>
              </button>
            </div>

          </form>
          <p class="text-info text-center">
            <a [routerLink]="['/login']">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">Login
                </font>
              </font>
            </a>
          </p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
          aria-expanded="false" aria-controls="collapseTwo">
          Accordion Item #2
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
        data-bs-parent="#accordionExample" style="">
        <div class="accordion-body">
          <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin
          adds the appropriate classes that we use to style each element. These classes control the overall appearance,
          as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or
          overriding our default variables. It's also worth noting that just about any HTML can go within the
          <code>.accordion-body</code>, though the transition does limit overflow.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Accordion Item #3
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
        data-bs-parent="#accordionExample" style="">
        <div class="accordion-body">
          <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin
          adds the appropriate classes that we use to style each element. These classes control the overall appearance,
          as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or
          overriding our default variables. It's also worth noting that just about any HTML can go within the
          <code>.accordion-body</code>, though the transition does limit overflow.
        </div>
      </div>
    </div>
  </div>
</div>