<div class="text-center">
    <h3></h3>
    <img src="../../../assets/logo.jpeg" class=""  style="max-width:23%; height:auto; display:block; margin: auto;">
    <h3></h3>

    <p class="fs-1">Quienes Somos</p>
    <p class="lh-lg">No es sólo una Pizza. Es una obra de arte constituida por una masa estirada a mano y horneada en horno de arcilla. Cubierta por deliciosos ingredientes naturales que apoyan una vida sana, cambian la cultura alimenticia y son amigables con el medio ambiente.

        Nuestra cocina es transparente y honesta, todos los ingredientes y su preparación paso a paso se encuentran a la vista de nuestros clientes. Hemos diseñado una cocina donde es posible participar en la elaboración de una obra de arte, ésa es nuestra cocina.
        
        Nuestros vegetales son comprados a granjas locales y pequeños agricultores, privilegiando productos de origen orgánico y naturales, buscando satisfacer gustos de quienes exigen calidad en post de una cocina honesta y sustentable.</p>

        <div class="spinner-grow text-warning" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
  </div>
