<div class="accordion" id="accordionExample"  >
  <div class="accordion-item" style="background: rgb(247, 246, 246);">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        ¿Dónde estan ubicados?
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample" >
      <div class="accordion-body"  >
        Estamos ubicados en Renca #7895, Región Metropolitana, Chile.
      </div>
    </div>
  </div>
  <div class="accordion-item" style="background: rgb(247, 246, 246);">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        ¿Puntos Pizza?
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Debes registrarte en nuestra tienda online y por cada Pizza en tu compra, estaras acumulando 1 punto.
      </div>
    </div>
  </div>
  <div class="accordion-item" style="background: rgb(247, 246, 246);">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        ¿Qué hago con mis puntos?
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Por cada 10 puntos pizza podras canjear 1 pizza a elección en nuestra tienda online.
      </div>
    </div>
  </div>
  <div class="accordion-item" style="background: rgb(247, 246, 246);">
    <h2 class="accordion-header" id="headingFor">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFor" aria-expanded="false" aria-controls="collapseThree">
        ¿Cuál es el horario de atención?
      </button>
    </h2>
    <div id="collapseFor" class="accordion-collapse collapse" aria-labelledby="headingFor" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Nuestro horario de atencion es de Lunes a Domingo,<strong> desde las 13.30 hasta las 18.30.</strong>
      </div>
    </div>
    <div class="accordion-item" style="background: rgb(247, 246, 246);">
      <h2 class="accordion-header" id="headingFive">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
          ¿Qué tamaño tienen las pizzas?
        </button>
      </h2>
      <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          Nuestras pizzas en formato unico, tienen un diametro aproximado de <strong>36 cm</strong> (Tamaño familiar).
        </div>
      </div>
      <div class="accordion-item" style="background: rgb(247, 246, 246);">
        <h2 class="accordion-header" id="headingSix">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseThree">
            ¿Tienen agregados?
          </button>
        </h2>
        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong>No,</strong> nuestra tienda esta enfocada solo en la venta de pizzas artesalanes. 
          </div>
        </div>
        <div class="accordion-item" style="background: rgb(247, 246, 246);">
          <h2 class="accordion-header" id="headingSeven">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseThree">
              ¿Cuales son los ingredientes?
            </button>
          </h2>
          <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>Diversos,</strong> puedes revisarlos en apartado de ingredientes. 
            </div>
          </div>
          <div class="accordion-item" style="background: rgb(247, 246, 246);">
            <h2 class="accordion-header" id="headingHeigt">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseHeigt" aria-expanded="false" aria-controls="collapseThree">
                ¿De que estan hechas las pizzas?
              </button>
            </h2>
            <div id="collapseHeigt" class="accordion-collapse collapse" aria-labelledby="headingHeigt" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                Nuestras pizzas estan hechas a base de ingredientes naturales perfectamente conservados, para garantizar una gran calidad y sabor a nuestros clientes. 
              </div>
            </div>
  </div>