<!--2:51:50
Tabla para mostrar detalle checkout-->
<div class="container__table">
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Cantidad</th>
                <th>Precio Un.</th>
                <th>Subtotal</th>
                <th>Pizza</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of cart$ | async">
                <td>{{item.name}}</td>
                <td>{{item.qty}}</td>
                <td>{{item.price | currency}}</td>
                <td>{{item.qty * item.price | currency}}</td>
                <td><img src="{{item?.img}}"></td>
            </tr>
        </tbody>
    </table>
    <div class="container__total">
        <p class="total">
            <strong>Total: <span>{{total$ | async | currency}}</span></strong>
        </p>
    </div>
</div>