/* You can add global styles to this file, and also import other style files */

.card{
    margin: 1rem;
    text-align: center;
    width: fit-content;
    height: fit-content;
   display: -ms-flexbox;

}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
